extends layout

block content
  .container
    h1 Jimini
    hr
    .columns
      .column.col-4
        .centered
          h5.label Overall Performance:
        #total-summary
          - if (positions.value > 0)
            h1.green
              = '$' + positions.value
          - else
            h1.red
              = '$' + positions.value

    hr
    h5.label Open Positions:
    .columns
      .column.col-2
    #open-positions
      ul
        position-list-item(v-for="position in positions", v-bind:position="position")
    hr

    h5.label Latest Closed Positions:
    table.table
      thead
        tr
          th Currency
          th Amount
          th Open Price
          th Close Price
          th Net
          th Timeframe
          th Time
          th Exchange
      tbody
        - for(position of positions.closed)
          - let netPrice = (position.closePrice - position.openPrice)
          - if (netPrice > 0)
            tr(class="green")
              td= position.pair
              td= position.amount
              td= position.openPrice
              td= position.closePrice
              td= '$' + Math.round(position.amount * netPrice)
              td= position.timeframe
              td= position.time
              td= position.exchange
          - else
            tr(class="red")
              td= position.pair
              td= position.amount
              td= position.openPrice
              td= position.closePrice
              td= '$' + Math.round(position.amount * netPrice)
              td= position.timeframe
              td= position.time
              td= position.exchange
  script.
    Vue.component('position-list-item', {
      props: ['position'],
      template: '<li>{{ position.pair }} {{ position.amount }} @ \
      ${{ position.open }} (${{ position.amount * position.open }})</li>'
    })

    var app4 = new Vue({
      el: '#open-positions',
      data: {
        positions: [
          {
            pair: 'tNEOUSD',
            amount: 1,
            timeframe: '15m',
            time: '123',
            open: 121,
            total: 121
          }
        ]
      }
    })