extends layout

block content
  .container
    h1 Jimini
    hr
    .columns
      .column.col-4
        .centered
          h5.label Overall Performance:
        #total-summary
          - if (positions.value > 0)
            h1.green
              = '$' + positions.value
          - else
            h1.red
              = '$' + positions.value

    hr
    h5.label Open Positions:
    table.table
      thead
        tr
          th Currency
          th Amount
          th Price
          th Total
          th Timeframe
          th Time
          th Exchange
      tbody
        - for(position of positions.open)
          tr
            td= position.pair
            td= position.amount
            td= '$' + position.openPrice
            td= '$' + (position.amount * position.openPrice)
            td= position.timeframe
            td= position.time
            td= position.exchange

    h5.label Latest Closed Positions:
    table.table
      thead
        tr
          th Currency
          th Amount
          th Open Price
          th Close Price
          th Net
          th Timeframe
          th Time
          th Exchange
      tbody
        - for(position of positions.closed)
          - let netPrice = (position.closePrice - position.openPrice)
          - if (netPrice > 0)
            tr(class="green")
              td= position.pair
              td= position.amount
              td= position.openPrice
              td= position.closePrice
              td= '$' + Math.round(position.amount * netPrice)
              td= position.timeframe
              td= position.time
              td= position.exchange
          - else
            tr(class="red")
              td= position.pair
              td= position.amount
              td= position.openPrice
              td= position.closePrice
              td= '$' + Math.round(position.amount * netPrice)
              td= position.timeframe
              td= position.time
              td= position.exchange
